@import "../../node_modules/bootstrap/scss/functions";

$text: #333a3f;
$background: #f2f2f2;
$primary: #f86825;
$secondary: #f9c90b;
$accent: #07a2c5;

$custom-colors: (
  "text": $text,
  "background": $background,
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent
);

@import "../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $background;
  color: $text;
}
