.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.single-product {
  transition: background-color 0.3s, box-shadow 0.3s;
}

.single-product:hover {
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .single-product {
    width: 285px;
  }
}

@media (min-width: 1400px) {
  .single-product {
    width: 300px;
  }
}

.single-topping__checkbox-label--small .form-check-label {
  font-size: small;
}
