@media (max-width: 576px) {
  .single-rider-available-order {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .single-rider-available-order {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .single-rider-available-order {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .single-rider-available-order {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .single-rider-available-order {
    width: 25%;
  }
}
